.RecipeMain {
    font-size: 1.10em;
}

.Recipe_Expand {
    text-align: center;
    border: 1px solid black;
    margin: 1.5em;
}

#ingredients-list {
    padding-left: 0em;
    margin: .5em;
}

#steps-list {
    text-align: left;
    margin: 1em;
}

#display-steps {
    padding-left: .75em;
}

#modify-recipe, #delete-recipe, #modify-recipe2, #delete-recipe2 {
   font-size: 1em;
   margin-left: auto;
   margin-right: auto;
   margin: .5em;
}
