/* mobile styles first, min 320px */
#base-title {
    font-size: 1.2rem;
    text-shadow: 3px 2px 2px white;
    margin-bottom: -.5em;
}

#ingredients-title, #steps-title {
    text-decoration: underline;
    text-shadow: 3px 2px 2px white;
    margin-bottom: -.5em;
}

#steps-title {
    margin-top: 1em;
}

#starting-cuisine {
    font-size: 1.10rem;
    text-shadow: 3px 2px 2px white;
    margin-top: .45em;
    margin-bottom: -.5em;
}

#base-steps, #base-ingredients {
    font-weight: 500;
}

#base-steps {
    padding-left: 1em;
}

#starting-steps {
    text-align: left;
    margin: 1em;
}

#starting-ingredients {
    margin: .5em;
}

#base-ingredients {
    text-align: left;
    padding-left: .5em;
    margin: .65em;
    margin-top: 1em;
}

#hand-mixer-icon {
    height: 45%;
    width: 45%;
    margin-top: .5em;
    margin-bottom: -.25em;
}

/* tablet and desktop styles */ 
@media only screen and (min-width: 768px) {
    #base-title {
        font-size: 2rem;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    #base-ingredients, #base-steps {
        font-size: 1.35rem;
    }

    #base-ingredients {
        display: inline-block;
        text-align: center;
        line-height: 1.5em;
        margin-bottom: -1em
    }

    #starting-ingredients {
        text-align: left;
    }

    #starting-cuisine {
        font-size: 1.5rem;
        margin-top: .5em;
    }

    #hand-mixer-icon {
        height: 35%;
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    #base-title {
        font-size: 2.5rem;
    }

    #base-ingredients, #base-steps {
        font-size: 1.5rem;
    }
    
    #hand-mixer-icon {
        height: 25%;
        width: 25%;
    }
}