.Login_Page {
    font-size: 1.10em;
    text-align: center;
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
}

.Login_Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
}

#user-login {
    font-size: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}