/* mobile styles first, min 320px */
.Your_Cookbook {
    text-align: center;
    margin: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

#cookbook-home {
    color: white; 
    text-shadow: 5px 3px 5px black;
    font-size: 2rem;
}

/* tablet and desktop styles */
@media only screen and (min-width: 768px) {
    #cookbook-home {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    #cookbook-home {
        font-size: 4rem;
    }
}