.Recipe_Editor {
    margin: 1em;
}

.Title_Editor, .Fuse_Cuisine, .Edit_Ingredients, .Edit_Steps {
    border: 1px solid black;
    margin-bottom: 1em;
    padding: .5em;
}

#fuse-info {
    font-size: xx-large;
}

#name-changer {
    width: 90%;
}

.Fuse_Ingredients {
    margin: .25em;
    width: 90%;
}

#edit-list-steps {
    padding-left: 1em;
}

.Fuse_Steps {
    vertical-align: middle;
    width: 80%;
    margin: .25em;
}