/* mobile styles first, min 320px */
.error {
    color: #E02500; 
    font-weight: bold;
}

/* tablet and desktop styles */ 
@media only screen and (min-width: 768px) {
    .error {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .error {
        font-size: 2rem;
    }
}